@model IEnumerable<Ogrenci> // IEnumerable Nedir? Ogrenci sınıfından oluşan bir koleksiyon olduğunu belirtir. Bu, genellikle bir liste veya dizi olabilir.
@{
    ViewData["Title"] = "Index";
}
<h2>Öğrenci Listesi</h2>
<hr />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(i => i.OgrenciId)</th> @* DisplayNameFor, belirtilen model özelliğinin kullanıcı dostu bir adını görüntülemek için kullanılır. Bu durumda, i.OgrenciId'nin kullanıcı dostu adını görüntüler. Genellikle, model sınıfındaki özelliklerin adlarını daha okunabilir hale getirmek için kullanılır. *@
            <th>@Html.DisplayNameFor(i => i.OgrenciAd)</th>
            <th>@Html.DisplayNameFor(i => i.OgrenciSoyad)</th>
            <th>@Html.DisplayNameFor(i => i.TelefonNumarasi)</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.OgrenciId)</td> @* DisplayFor, belirtilen model özelliğinin değerini görüntülemek için kullanılır. Bu durumda, item.OgrenciId'nin değerini görüntüler. *@
                <td>@Html.DisplayFor(modelItem => item.OgrenciAd)</td>
                <td>@Html.DisplayFor(modelItem => item.OgrenciSoyad)</td>
                <td>@Html.DisplayFor(ModelItem => item.TelefonNumarasi)</td>
                <td>
                    <a class="btn btn-sm btn-primary">Detaylar</a>
                    <a class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-success mb-3" asp-controller="Ogrenci" asp-action="Create">Yeni Öğrenci Ekle</a>
