@model IEnumerable<KursKayit>
@{
    ViewData["Title"] = "Index";
}

<h2>Kurs Kayıt Listesi</h2>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.KayitId)</th>
            <th>@Html.DisplayNameFor(m => m.Ogrenci.OgrenciAd)</th>
            <th>@Html.DisplayNameFor(m => m.Kurs.Baslik)</th>
            <th style="width: 150px;">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.KayitId)</td>
                <td>@Html.DisplayFor(modelItem => item.Ogrenci.OgrenciAd)</td>
                <td>@Html.DisplayFor(modelItem => item.Kurs.Baslik)</td>
                <td>
                    <a asp-controller="KursKayit" asp-action="Edit" asp-route-id="@item.OgrenciId" class="btn btn-sm btn-primary">Düzenle</a>
                    <a asp-controller="KursKayit" asp-action="Delete" asp-route-id="@item.OgrenciId" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
